.button-container {
  display: block;

  .add-to-cart {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-weight: 600;
    overflow-wrap: break-word;
  }
  .add-to-cart:hover {
    background-color: rgb(127, 219, 255);
    color: #000;
    cursor: pointer;
  }
}
