.footer-social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 1rem 0;
  .title {
    font-size: 12px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .facebook::before {
    content: "\F344";
    font-family: "Bootstrap-icons";
    font-size: 22px;
  }
}

html.light .facebook::before {
  color: rgb(0, 132, 255);
}
