.logo-container {
  // display: block;

  .logo-image {
    font-size: 28px;

    @media (max-width: 245px) {
      max-width: 70vw;
    }
  }
}
@media (max-width: 690px) {
  .logo-container.hide {
    display: none;
  }
}
