.background-video-container {
  display: block !important;
  height: 110vh;
  position: relative;
  
  video {
    display: block;
    height: 110vh;
    width: 100%;
    object-fit: cover;
  }
}
