@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap-icons/font/bootstrap-icons";

body {
  position: relative;
  overflow-x: hidden;
}

//TODO animate fade out to in
html.dark body {
  background-color: #000;
  color: white;
}
//TODO animate fade out to in
html.light body {
  color: #000;
  background-color: rgb(233 233 233 / 59%);
}

html::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
html.dark::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid rgba(255, 255, 255, 0.534);
  background-color: rgba(0, 0, 0, 0.3);
}

html.dark::-webkit-scrollbar-thumb:hover {
  border: 3px solid rgb(255, 255, 255);
}

html.light::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid rgba(146, 144, 144, 0.836);
  background-color: rgba(0, 0, 0, 0.3);
}

html.light::-webkit-scrollbar-thumb:hover {
  border: 3px solid rgb(0, 0, 0);
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

body main {
  position: relative;
  margin: 0 auto;
}

body.home .li-cos:hover ~ .bigger {
  display: none;
}

video {
  height: 110vh;
  width: 100%;
  object-fit: cover;
}

body.home .main {
  height: unset;
}
