.schedule-container {
  display: block;
  max-width: 96rem;
  position: relative;
  padding-bottom: 1rem;
  left: 0;
  margin: 0 auto;

  @media (max-width: 833px) {
    gap: 1rem;
  }

  .schedule-container-inner {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .title {
    display: block;
    padding: 1rem 0;
    font-size: 22px;
    border-bottom: 1px solid #888787;
  }

  .schedule-group,
  .schedule-fitness {
    display: block;
    max-width: 360px;
    margin: 0 auto;
    // height: 100%;
    width: 100%;
  }

  .schedule-inner {
    gap: 0.5rem;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    width: 100%;

    .schedule {
      display: block;
      border-radius: 12px;
      min-height: 268px;

      .ul-schedule {
        position: relative;
        padding-left: 5px;
        justify-content: center;
        margin: 0 auto;

        @media (max-width: 400px) {
          display: block;
        }

        .li-schedule {
          display: flex;
          width: max-content;
          position: relative;
          padding: 10px;
          gap: 5px;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;

          // span {
          //   padding-right: 10px;
          // }
          @media (max-width: 200px) {
            display: block;
          }
        }

        li:before {
          width: 12px;
          height: 12px;
          background: #fff;
          border: 2px solid #ccc;
          position: absolute;
          border-color: #55a79a;
          left: -11px;
          top: 17px;
          content: "";
          border-radius: 100%;
        }

        li.active:before {
          background: #55a79a;
          border-color: #55a79a;
        }
      }
      .ul-schedule::before {
        width: 1px;
        border-color: #55a79a;
        background: #55a79a;
        position: absolute;
        left: 0px;
        top: 0;
        bottom: 0;
        height: 100%;
        content: "";
      }

      .day-schedule {
        color: #343a40 !important;
        font-weight: 700 !important;
        font-size: 1.5rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }
    }
    .schedule.closed {
      li.inActive:before {
        background: red;
        border-color: red;
      }
    }
  }
}

html .schedule-inner::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
html.dark .schedule-inner::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.39);
  background-color: rgba(255, 255, 255, 0.39);
  height: 2px;
}

html.dark .schedule-inner::-webkit-scrollbar-thumb:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255);
}

html.light .schedule-inner::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgba(138, 137, 137, 0.514);
  background-color: rgba(138, 137, 137, 0.514);
}

html.light .schedule-inner::-webkit-scrollbar-thumb:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0);
}

html .schedule-inner::-webkit-scrollbar-track {
  background-color: transparent;
}
html.dark .schedule {
  background-color: #e7eff8;
  color: #000;
}
html.light .schedule {
  background-color: #fff;
  color: #000;
}
html.dark .schedule.closed {
  background-color: #e7eff8;
  color: red;
}
